/*  your css code here. If applicable */
.header{
	background-color: #011e29;
	color:white;
	display:flex;
	justify-content: center;
	padding:10px;
}
#container{
	display:flex;
	flex-wrap:wrap
	justify-content:space-between;
}
.latest-news-section{
	background-color:white;
	color:black;
	width:200px;
	border-radius: 10px;
	padding: 10px;
	margin-right:2px;
}
.main-artical-section{
	background-color:white;
	color:black;
	width:200px;
	border-radius: 10px;
	padding: 10px;
	margin-right:2px;
}
.img{
	width:50%;
}
.pictorial-news-section{
	background-color:white;
	color:black;
	width:200px;
	text-align:centre;
	border-radius: 10px;
	padding:10px;
	
}